<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='stylesheets/about.css')}}">
   <!-- <div class = "CCSU">
      <a href="https://web.ccsu.edu/healthservices/oade/">
          <img src="{{url_for('static',filename='/Images/CCSULogo.svg')}}" name="CCSULogo" alt="CCSU Logo" id="CCSUPic" width="500">
      </a> -->
   </div>
  <head>
  <body>
    <div class="about-section">
      <h1>About Us</h1>
      <h3>Meet Team Entity</h3>
    </div>
        <div class="card" style="text-align:center">
          <img id="TeamPhoto" src="{{url_for('static',filename='Images/StudentWellnessGroup.png')}}" alt="Team" style="width:60%">
          <div class="container h-100" style="text-align:center">
            <h2>CCSU Student Wellness Project</h2>
            <p class="title">We are four seniors in the Computer Science Program</p>
            <p>Our goal is to create a student wellness application that will not only benefit the student wellness center but the student body as a whole!</p>
            <h3>Check out our Github!</h3>
	    <p> <a href="https://github.com/smcgann/" style="Color:#1E4164" target="_blank">Simon</a></p>
	    <p> <a href="https://github.com/bouloss/" style="Color:#1E4164" target="_blank">Paul</a></p>
	    <p> <a href="https://github.com/geo881/" style="Color:#1E4164" target="_blank">Geovanni</a></p>
	    <p> <a href="https://github.com/Landaverry/" style="Color:#1E4164" target="_blank">Kelbin</a></p>
            <p><button class="button"><a href="/Wheel">Back to the Application</a></button></p>
          </div>
  </body>
<html>

