<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/SignIn.css')}}">
    <div class = "CCSU">
      <img src="{{ url_for('static', filename='/Images/CCSULogo.svg') }}" name="CCSULogo" alt="CCSU Logo" width="500">
   </div>
  <head>
  <body class = "AdminPage">
      <div class="container">
          <h1>Account Settings</h1>
          <hr>

          <label for="username":>Username: {{UsernameDisplay}} </label>
          <br>
          <br>
          <label for="email": name="EmailDisplay">Email: {{EmailDisplay}} </label>
          <br>
          <a href="/ChangePass">Change Password</a>
          <hr>
          <a href="/AdminRegistration">
            <button type="button">Create admin account</button>
          </a>
          <br>
          <br>
          <a href="/ChangeWheel">
            <button type="button">Change Wheel Resources</button>
          </a>
          <br>
          <br>
          <a href="/Report">
             <button type="button">View Reports</button>
          </a>
     </div>

    
    </form>
  <body>
    <hr>
    <footer>
        <!--© 2020 CENTRAL CONNECTICUT STATE UNIVERSITY-->
			&#169; <script type="text/javascript">var theDate=new Date();document.write(theDate.getFullYear())</script> CENTRAL CONNECTICUT STATE UNIVERSITY
    <footer>
<html>
