<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/ChangePass.css')}}">
    <div class = "CCSU">
      <a href="https://web.ccsu.edu/healthservices/oade/"> <!-- target _blank opens in new tab-->
          <img src="{{ url_for('static', filename='/Images/CCSULogo.svg') }}" name="CCSULogo" alt="CCSU Logo" id="CCSUPic" width="500">
      </a>
   </div>
  <head>
  <body class = "ChangePassword">
    <form  method = "post">
      <div class="container">
          <h1>Change Password</h1>

          {% with messages = get_flashed_messages()%}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
          {% endwith %}
          <hr>

          <label for="Password"><b>Current Password</b></label>
          <br>
          <input type="password" placeholder="Enter current password here" name="currentPassword" required>
		  <br>
		  <label for="Password"><b>New Password</b></label>
          <br>
          <input type="password" placeholder="Enter new password here" name="newPassword" required>
		  <br>
		  <label for="Password"><b>Confirm New Password</b></label>
          <br>
          <input type="password" placeholder="Confirm new password here" name="newPasswordConfirm" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W\_])[A-Za-z\d\W\_]{8,20}$" title="Must contain at least one number, one uppercase, one lowercase letter, one special character and between 8 - 20 characters"required>
          <hr>
          <button type="submit" class="PasswordChangebtn">Change Password</button>
      </div>
      <div class="container ResetPass">
        <p>Go back to <a href="/RegSettings">Account Settings</a>.</p>
      </div>
    </form>
  <body>
    <hr>
    <footer>
        <!--© 2020 CENTRAL CONNECTICUT STATE UNIVERSITY-->
			&#169; <script type="text/javascript">var theDate=new Date();document.write(theDate.getFullYear())</script> CENTRAL CONNECTICUT STATE UNIVERSITY
    <footer>
<html>
